<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2023 By Geeks Empire.
  ~
  ~ Created by Elias Fazel
  ~ Last modified 3/26/23, 6:51 AM
  ~
  ~ Licensed Under MIT License.
  ~ https://opensource.org/licenses/MIT
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".YouApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/applicationName"
        android:supportsRtl="true"
        android:theme="@style/GeeksEmpire.Material"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        tools:targetApi="31">

        <activity
            android:name=".EntryConfigurations"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/GeeksEmpire.Material">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Dashboard.UI.Dashboard"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/GeeksEmpire.Material"/>

        <activity
            android:name=".Dashboard.UI.Frames.Preview.FramePreview"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/GeeksEmpire.Wallpaper"/>

        <activity
            android:name=".Settings.Settings"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/GeeksEmpire.Material"/>

        <activity
            android:name=".Boot.OpenOnBoot"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:exported="false"
            android:theme="@style/Transparent"/>

        <service
            android:label="@string/applicationName"
            android:name=".Overly.OverlyFrame"
            android:exported="false"
            android:foregroundServiceType="dataSync">
        </service>

        <service
            android:label="@string/applicationName"
            android:name=".Stability.StabilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/stability_configurations"/>
        </service>

        <receiver
            android:name=".Boot.BootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>